.sl-h {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 550px;
}


.content_wrapper,
.slider_content {
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;

}

img.w-full.about_img.rounded {
    width: 447px;

}

@media screen and (max-width:768px) {

    .sl-h,
    .slider_content,
    .content_wrapper {
        min-height: 450px;
    }
}