@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,700&family=Raleway:ital,wght@0,400;0,500;1,400&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}


/*******style for select placeholder********/
select:required:invalid {
    color: #666;
}

option[value=""][disabled] {
    display: none;
}